.logo {
    max-width: 60px;
    max-height: 60px;
}

.logo-text {
    font-size: 32px;
    font-weight: 600;
    margin: 16px;

}

.search-input {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(54, 164, 255);
    padding: 4px 8px;
    outline: none;
    margin-right: 12px;

}

.icon {
    font-size: 24px;
    margin-left: 12px;
}

.icon:hover {
    cursor: pointer;
}